#paypal-button {
    display: none;
}

    /* Media query for mobile viewport */
    @media screen and (max-width: 400px) {
        #paypal-button {
            width: 90%;
            margin: 0 auto;
        }
    }
    
    /* Media query for desktop viewport */
    @media screen and (min-width: 400px) {
        #paypal-button {
            width: 250px;
            margin: 0 auto;
            margin-top: 10px;
/*           display: inline-block;*/
        }
    }